*
{
    margin: 0px;
    padding: 0px;
    
}

body
{
    background-color: rgb(184, 197, 255);
}

article
{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0px;
    width: 35%;
    text-align: center;
    color: blueviolet;
    font-size: 30px;
    
    
    
}
.box
{
    display: flex;
    
}
#status
{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(201, 162, 238);
    padding: 10px;
    border-radius: 20px;
    
}
#status:hover
{
    text-decoration: none;
    color: rgb(201, 162, 238);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    
}
.history
{
    margin-top:50px ;
    color: rgb(62, 39, 163);
    margin-left: 30%;
}
.box_history
{
    margin-top:10px;
    color: rgb(226, 77, 109);
    margin-top: 100px;
    background-color: rgb(255, 211, 211);
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-left: 50%;
    
    
}
@media (max-width:1300px)
{
    .box_history
    {
    margin-top:10px;
    color: rgb(226, 77, 109);
    margin-top: 100px;
    background-color: rgb(255, 211, 211);
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin-left: 10%;
    
    
    }
    .history
    {
    margin-top:50px ;
    color: rgb(62, 39, 163);
    margin-left: 10%;
    }
    .box
    {
    display:flex;
    margin-right: auto;
    
    }
    article
    {

    width: 600px;
    text-align: center;
    justify-content: center;
    color: rgb(226, 43, 156);
    font-size: 30px;
    }

}
@media (max-width:900px)
{
    .box
    {
    display:block;
    margin-right: auto;
    
    }
    article
    {

    width: 500px;
    text-align: center;
    justify-content: center;
    color: rgb(226, 43, 156);
    font-size: 30px;
    margin-left:0px ;
    }
    #img_profile
    {
        width: 400px;
    }
    .box_history
    {
    margin-top:10px;
    color: rgb(226, 77, 109);
    margin-top: 100px;
    background-color: rgb(255, 211, 211);
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin-left: 50px;
    
    }
    .history
    {
    margin-top:50px ;
    color: rgb(62, 39, 163);
    margin-left: 100px;
    }
}





